.container{
    width:100%;
}

.innerContainer{
    width:90%;
    margin:auto;
    display:flex;
    padding-bottom:10rem;
}

.office{
    width:100%;
}

.office h2{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    padding-bottom:4rem;
}

.office p span{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-family: DM Sans;
    line-height: 31.7px;
}

.office p{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    font-family: DM Sans;
    line-height: 31.7px;
}

.officeInfo p{
    padding-bottom:4rem;
}

.drop{
    width:100%;
}

.drop h2{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    padding-bottom:4rem;
}

.drop input{
    width:100%;
    background:#F5F5F5;
    border:none;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    text-align: left;
    padding:1.5rem 1rem 0.3rem 1rem;
    border-radius:5px;
    margin-bottom:3rem;
}

.dropMessage input{
    padding-bottom:10rem;
}

.send button{
    background: #146E24;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    padding:1rem 2rem;
    border:none;
    border-radius:5px;
    color:white;
    display:flex;
    align-items:center;
    gap:0.4rem;  
}

@media screen and (max-width:1024px){
    .office h2{
        font-family: DM Sans;
        font-size: 34px;
        font-weight: 500;
        text-align: left;
        padding-bottom:4rem;
    }
    
    .office p span{
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        font-family: DM Sans;
        line-height: 31.7px;
    }
    
    .office p{
        font-size:18px;
    }

    .drop h2{
        font-family: DM Sans;
        font-size: 34px;
    }
    
    .drop input{
        font-size: 14px;
        font-weight: 500;
        line-height: 18.23px;
        text-align: left;
        padding:1.5rem 1rem 0.3rem 1rem;
        border-radius:5px;
        margin-bottom:3rem;
    }

    .dropMessage input{
        padding-bottom:8rem;
    }
}

@media screen and (max-width:768px){
    .office h2{
        font-family: DM Sans;
        font-size: 32px;
        font-weight: 500;
        text-align: left;
        padding-bottom:4rem;
    }
    
    .office p span{
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        font-family: DM Sans;
        line-height: 31.7px;
    }
    
    .office p{
        font-size:18px;
    }

    .drop{
        width:80%;
        margin:auto;
    }

    .drop h2{
        font-family: DM Sans;
        font-size: 32px;
    }
    
    .drop input{
        font-size: 14px;
        font-weight: 500;
        line-height: 18.23px;
        text-align: left;
        padding:1.5rem 1rem 0.3rem 1rem;
        border-radius:5px;
        margin-bottom:3rem;
    }

    .dropMessage input{
        padding-bottom:8rem;
    }
}

@media screen and (max-width:425px){
    .innerContainer{
        width:90%;
        margin:auto;
        display:flex;
        flex-direction:column;
        padding-bottom:10rem;
    }

    .office h2{
        padding-bottom:2rem;
    }

    .office{
        padding-bottom:4rem;
    }

    .drop h2{
        text-align:center;
        padding-bottom:3rem;
    }

    .officeInfo p{
        padding-bottom:2rem;
    }
    
    .drop input{
        margin-bottom:2rem;
    }
    
    .dropMessage input{
        padding-bottom:8rem;
    }
    
    .send button{
        font-size: 14px;
        padding:0.5rem 1rem;
        gap:0.4rem;  
    }
}

@media screen and (max-width:375px){
    .innerContainer{
        width:90%;
        margin:auto;
        display:flex;
        flex-direction:column;
        padding-bottom:10rem;
    }

    .office h2{
        padding-bottom:1.5rem;
        font-size:30px;
    }

    .office{
        padding-bottom:4rem;
    }

    .office p span{
        font-size: 14px;
    }

    .drop h2{
        text-align:center;
        padding-bottom:2.5rem;
        font-size:30px;
    }

    .officeInfo p{
        padding-bottom:1.5rem;
        font-size: 18px;
    }
    
    .drop input{
        margin-bottom:2rem;
    }
    
    .dropMessage input{
        padding-bottom:8rem;
    }
    
    .send button{
        font-size: 14px;
        padding:0.5rem 1rem;
        gap:0.4rem;  
    }
}